<?xml version="1.0" encoding="UTF-8"?>

<?define UpgradeCode64="E8ED1064-EE50-473b-918F-CE15C23CC059"?>
<?define UpgradeCode32="5DED678E-52A3-41ea-AC23-A6C83FA6497F"?>
<?define MyProductName="SQUASHFS-Win"?>
<?define MyVersion="0.5.0"?>
<?define MyDescription="SquashFs for Windows"?>
<?define squashfsClsid="{eaca1da7-a6db-42b5-883e-6d4051dbef1c}"?>

<?if $(var.MyArch) = x64?>
<?define UpgradeCode="$(var.UpgradeCode64)"?>
<?define OtherUpgradeCode="$(var.UpgradeCode32)"?>
<?define ProgramFilesFolder="ProgramFiles64Folder"?>
<?define LauncherRegistryKey="Software\WOW6432Node\WinFsp\Services"?>
<?define ProductName="$(var.MyProductName) ($(var.MyArch))"?>
<?else?>
<?define UpgradeCode="$(var.UpgradeCode32)"?>
<?define OtherUpgradeCode="$(var.UpgradeCode64)"?>
<?define ProgramFilesFolder="ProgramFilesFolder"?>
<?define LauncherRegistryKey="Software\WinFsp\Services"?>
<?define ProductName="$(var.MyProductName)"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.MyVersion)"
           Manufacturer="$(var.MyProductName)"
           UpgradeCode="$(var.UpgradeCode)">


    <Package Description="$(var.MyProductName) ($(var.MyArch)) - $(var.MyDescription)"
             InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />

    <!--DisallowUpgradeErrorMessage="An older version of $(var.MyProductName) is already installed. You must uninstall it before you can install this version." -->

    <MajorUpgrade
        Schedule="afterInstallInitialize"
        Disallow="no"
        AllowDowngrades="no"
        AllowSameVersionUpgrades="yes"
        DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

    <Media Id="1" Cabinet="SQUASHFS_Win.cab" EmbedCab="yes" />

    <Property Id="OTHERINSTALLED">
      <ProductSearch UpgradeCode="$(var.OtherUpgradeCode)" Minimum="0.0.0.0" />
    </Property>

    <Condition Message="A version of $(var.MyProductName) with a different computer architecture is already installed. You must uninstall it before you can install this version.">
      NOT OTHERINSTALLED
    </Condition>

    <Property Id="P.LauncherRegistryKey">$(var.LauncherRegistryKey)</Property>
    <Property Id="P.RegistryKey">Software\$(var.MyProductName)</Property>
    <Property Id="INSTALLDIR">
      <RegistrySearch
          Id="R.INSTALLDIR"
          Root="HKLM"
          Key="[P.RegistryKey]"
          Name="InstallDir"
          Type="raw" />
    </Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.MyProductName)"/>
      </Directory>

      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="INSTALLDIR" Name="$(var.MyProductName)">
          <Directory Id="BINDIR" Name="bin"/>
          <Directory Id="DOCDIR" Name="doc">
            <Directory Id="DOCIMG" Name="images"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="C.INSTALLDIR" Guid="{C953BBC7-D7FF-43cf-9FBD-EBEF214677FB}">
        <RegistryValue
            Root="HKLM"
            Key="[P.RegistryKey]"
            Name="InstallDir"
            Type="string"
            Value="[INSTALLDIR]"
            KeyPath="yes" />
      </Component>
      <Component Id="C.squashfs.reg" Guid="{3CB99DBF-8BA7-4538-A0C1-92B1A3384A1F}">
        <RegistryKey
            Root="HKLM"
            Key="[P.LauncherRegistryKey]">
          <RegistryKey
              Key="squashfs">
            <RegistryValue
                Type="string"
                Name="Executable"
                Value="[INSTALLDIR]bin\squashfuse.exe"
                KeyPath="yes" />
            <RegistryValue
                Type="string"
                Name="CommandLine"
                Value="%1 %2 --UserName=%U --GroupName=%U" />
            <RegistryValue
                Type="string"
                Name="Security"
                Value="D:P(A;;RPWPLC;;;WD)" />
            <RegistryValue
                Type="integer"
                Name="JobControl"
                Value="1" />
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component Id="C.squashfs.shellext" Guid="{757E998A-63E2-403E-95B4-A19A2DAEC3C5}">


        <RegistryKey Root="HKCR" Key="CLSID" >

          <RegistryKey
              Key="$(var.squashfsClsid)" >
            <RegistryValue Type="string"
                            Value="sqfsExt class"
                            KeyPath="yes" />
            <RegistryValue
              Name="Version"
              Type="string"
              Value="1.0" />

            <RegistryKey Key="InprocServer32" >
              <RegistryValue Type="string"
                              Value="[INSTALLDIR]bin\squashfsExt.dll" />
              <RegistryValue
                Name="ThreadingModel"
                Type="string"
                Value="Apartment" />
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>



      </Component>
      <Component Id="C.squashfs.squashfile" Guid="{8A1BF9AB-C60F-42A4-96D6-B8D64E3B6864}">


        <RegistryKey
          Root="HKCR"
          Key="squashfile" >
          <RegistryValue Type="string" Value="" KeyPath="yes"/>
          <RegistryKey Key="ShellEx\ContextMenuHandlers\squashfsExt" >
            <RegistryValue
              Type="string"
              Value="$(var.squashfsClsid)" />
          </RegistryKey>
          <RegistryKey Key="DefaultIcon" >
            <RegistryValue
              Type="string"
              Value="&quot;[INSTALLDIR]bin\squashfuse.exe&quot;,0" />
          </RegistryKey>
        </RegistryKey>



      </Component>
      <Component Id="C.squashfs.squashfile.approved" Guid="{06CD963E-6637-45F4-99E8-C90AF7BA5F88}">


        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Shell Extensions">
          <RegistryKey Key="Approved" >
            <RegistryValue
              Name="$(var.squashfsClsid)"
              Type="string"
              Value="Squash Filesystem"
              KeyPath="yes"/>
          </RegistryKey>
        </RegistryKey>


      </Component>
      <Component Id="C.squashfs.sqfext" Guid="{3413EABD-FFEE-4921-82AA-A027C0381BBE}">
        <RegistryKey Root="HKCR" Key=".sqf" >
          <RegistryValue Type="string" Value="squashfile" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="C.squashfs.sqfsext" Guid="{3413EABD-FFEE-4921-82AA-B027C0381BBE}">
        <RegistryKey Root="HKCR" Key=".sqfs" >
          <RegistryValue Type="string" Value="squashfile" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="C.squashfs.squashext" Guid="{3413EABD-FFEE-4921-82AA-C027C0381BBE}">
        <RegistryKey Root="HKCR" Key=".squash" >
          <RegistryValue Type="string" Value="squashfile" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="2C9C2AD3-0F61-472E-A176-C00B9BFD127B">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.MyProductName) Command Line"
                  Description="$(var.MyProductName) Command Line"
                  Arguments="/K &#x22;[BINDIR]\squashfs_env.cmd&#x22;"
                  Icon="icon.ico"
                  Target="[%ComSpec]" />
        <Shortcut Id="ApplicationHelpMenuShortcut"
                  Name="$(var.MyProductName) Help"
                  Description="$(var.MyProductName) Help"
                  Target="[DOCDIR]\help.html" />

        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.MyProductName)\squashfs_env" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.MyProductName)\help_doc" Name="installed" Type="integer" Value="1" KeyPath="no"/>
      </Component>
    </DirectoryRef>

    <Feature
        Id="F.Main"
        Level="1"
        Title="$(var.MyProductName) ($(var.MyArch)) $(var.MyVersion)"
        Description="$(var.MyDescription)"
        Display="expand"
        ConfigurableDirectory="INSTALLDIR"
        AllowAdvertise="no"
        InstallDefault="local"
        Absent="disallow">
      <ComponentRef Id="C.INSTALLDIR" />
      <ComponentRef Id="C.squashfs.reg" />
      <ComponentRef Id="C.squashfs.shellext"/>
      <ComponentRef Id="C.squashfs.squashfile"/>
      <ComponentRef Id="C.squashfs.squashfile.approved"/>
      <ComponentRef Id="C.squashfs.sqfext"/>
      <ComponentRef Id="C.squashfs.sqfsext"/>
      <ComponentRef Id="C.squashfs.squashext"/>
      <ComponentGroupRef Id="C.Main" />
      <ComponentRef Id="ApplicationShortcut" />
      <?if $(var.Static) = 0?>
      <ComponentGroupRef Id="C.Libs" />
      <?endif?>
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />

    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Icon Id="icon.ico" SourceFile="..\squashfuse.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

  </Product>
</Wix>
