**/x64
**/Win32
**/Debug-Static
**/Release-Static
**/ReleaseMT
**/ReleaseClang-Static
**/Debug
**/Release
**/x86
*.deleteme
swap.c.inc
swap.h.inc
squashfsExtPS
*.aps
squashfsExt/squashfsExt_i.c
squashfsExt/squashfsExt_i.h
squashfsExt/squashfsExt_p.c
